<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Pipefy Apps Client.js -->
    <script src="https://app.pipefy.com/apps/client.js"></script>
  </head>
  <body>
    <script>
      PipefyApp.initCall({
        'pipe-view': function(p, pipe) {
          return (
            {
              icon: 'https://cdn.glitch.com/921750f9-5c7c-4842-b805-9b8b2579d82e%2Freact-icon.svg?1507935176075',
              text: 'React View',
              url: './view.html',
              hide_create_button: false,
            }
          )
        },
      });
    </script>
  </body>
</html>