<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <script src="https://app.pipefy.com/apps/client.js"></script>
    <script>

      document.addEventListener("DOMContentLoaded", function(event) {
        pipefyClient.initCall({
          'card-tab': function(p, options) {
            return {
              icon: './images/power-cord.svg',
              title: 'DM Consultoria',
              url: './pipe-view.html',
              claimedAttachments: function(attachments) {
                // Iterate by all attachment to claim attachments from Github
                return attachments.filter(function(attachment){
                  return attachment.url.indexOf('https://github.com') === 0;
                });
              },
              buttons: []
            }
          },
        });


      });
    </script>
  </body>
</html>
